@import url('https://fonts.googleapis.com/css?family=Poppins:600,800&amp;display=swap');
*{
   	padding: 0px;
   	margin: 0px;
}
body {
    padding: 0px;
    margin: 0px;
	background-color: #e4e5e7;
	font-family: lato;
}
.custom-box {
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 3px 9px 0 rgba(169, 184, 200, .15);
	min-height: 600px;
	padding: 20px;
	margin-top: 27px;
	text-align: center;
}
.top-slogan {
	font-size: 22px;
	letter-spacing: 1px;
	font-weight: 700;
	margin-top: 45px;
    color: #a228da;
    font-family:  Comic Sans MS;
}
.btn{
	font-family: 'Rubik', Comic Sans MS;
    background: #00ffff;
    color: #000000;
    border: solid 2px rgb(255, 131, 131) ;
    border-radius: 150px;
}
.btn:hover{
    background-color:#fd0505;
}
.inputs {
	display: inline-grid;
	width: 90%;
	margin-top: 25px;
	}
.form-control {
	font-family: 'muli', Comic Sans MS;
	border-radius: 150px;
}
.form-control:focus {
    border: 1px solid #148dff;
	box-shadow: none;
}
.btn-outline-info:focus {
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #17a2b8bf;
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  	outline: 0 !important;
  	outline-offset: 0  !important;
  	background-image: none  !important;
  	-webkit-box-shadow: none !important;
  	box-shadow: none  !important;
}
.inputlabel{
 	font-size: 15px;
 	display: flex;
 	letter-spacing: 0.5px;
 	color: #776655ff;
 	font-family: Comic Sans MS;
    font-weight: bold;
}
.results{
	margin-top: 30px;
}
label{
 	font-size: 15px;
  	color: #ff7514;
 	font-family:  Comic Sans MS;
}
.loginbox{
	width: 400px;
	height: 400px;
	align-content: center;
	box-sizing: border-box;
	padding: 20px 30px 70px 30px;
}